body{
    display: block;
    background-color: #ffffff;
}

header{
    border-bottom: 1px #e69500 solid;
    background-color: #ffffff  ;
    color: #ffffff;
    width: 100%;
    height: 60px;
}

.navbarMenu{
    height: 100%;
    width: 100%;
    display: inline-block;
}

.leftPartNavbar{
    background-color: #131313  ;
    float: left;
    height: 100%;
    width: 50%;
}

.brandNameField{
    padding-left: 10px;
    height: 100%;
    width: 40%;
    float: left;
}


#electronLabel{
    color: #ffffff;
    font-family: sans-serif;
    padding: 3px;
    font-size: xx-large;
    border:3px #131313 solid;
}

#electronLabel:hover{
    border-bottom: 3px #e69500 solid;
    border-top: 3px #e69500 solid;
    border-left: 3px #e69500 solid;
    border-right:  #e69500 solid;
    transition: border-bottom 0.4s, border-left 0.8s, border-top 1.5s, border-right 0.8s, cubic-bezier(.58,.3,.36,1.54) 1s;
}

.LookingForMenu{
    float: left;
    padding-top: 15px;
    height: 100%;
    width: 60%;
    float: right;
}

.searchField{
    border: 1px #036f02 solid;
}

.searchField:hover{
    border: 1px #ffffff solid;
    transition: border 0.3s;
}

.searchButton{
    border: 1px #036f02 solid;
    background-color: #131313;
    color: #036f02;
}

.searchButton:hover{
    border: 1px #ffffff solid;
    background-color: #036f02;
    color: #ffffff;
    font-weight: bold;
    transition: font-weight 0.2s;
}

.centerLeftPartTriangle{
    float: left;
    width: 0;
    height: 0;
    border-top: 60px solid #131313  ;
    border-right: 60px solid #e69500;
}

.centerPartNavbar{
    float: left;
    background-color: #e69500 ;
    height: 100%;
    width: 10%;

}

.centerRightPartTriangle{
    float: left;
    width: 0;
    height: 0;
    border-top: 60px solid #e69500;
    border-right: 60px solid transparent;
}

.rightPartNavbar{
    float: left;
    background-color: #ffffff  ;
    width: 25%;
    height: 100%;
    color: black;

}


#shoppingCart{
    text-align: center;
    float: left;
    width: 50%;
    height: 100%;
}

#userLogin{
    text-align: right;
    width: 50%;
    height: 100%;
    float: right;
    width: 50%;
}


#shoppingCartImgInNavBar{
    border: 0;
    background-color: #ffffff;
    height: 92%;
    width: 60%;
}

#shoppingCartImgInNavBar:hover{
    transform: rotateZ(5deg);
}

#shoppingCartImg{
    height: 90%;
    width: 70%;
}

.userLoginBtn{
    border: 0;
    background-color: #ffffff;
    text-align: right;
    height: 92%;
    width: 50%;
    justify-content: center;
}

.userLoginImg{
    margin-top: 3px;
    height: 80%;
    width: 50%;
}

.userLoginImg:hover{
    height: 90%;
    width: 65%;
    transform: rotateY(5deg);
}

main{
    margin-top: 10px;
    width: 100%;
}

.withPictureAndActionsBlocks{
    flex-grow: 1;
    display: block;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: 90%;
}

.picturesBlock{
    text-align: center;
    float: left;
    width: 50%;
    height: 90%;
}

.imgCarouselDetails{
    height: 100%;
    width: 100%;
}

.actionsBlock{
    flex-grow: 1;
    float: right;
    width: 45%;
    height: 90%;
}

.productName{
    height: 20%;
    width: 100%;
}

.categoryAndBrand{
    height: 15%;
    width: 100%;
}

.brandAndCategory{
    font-size: xx-large;
}

.shortCharacteristic{
    height: 30%;
    width: 100%;
}

.priceAndAddToShopCart{
    height: 15%;
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.price{
    padding-top: 8%;
    float: left;
    height: 100%;
    width : 50%;
}

.priceHeader{
    float: bottom;
    font-size: xx-large;
    font-weight: bold;
}

.addToShoppingCart{
    height: 100%;
    width : 40%;
    float: right;
}

.addToShoppingCartBtn{
    text-align: left;
    background-color: #ffffff;
    border:0;
    border-bottom: 3px #ffffff solid;
    height: 80%;
    width : 80%;
    margin: 5%;
}

.addToShoppingCartBtn:hover{
    text-align: right;
    height: 90%;
    width : 90%;
    margin: 2%;
    border-bottom: 3px #e69500 solid;
    transition: background-color 0.5s, color 0.5s, height 0.2s, width 0.2s, margin 0.2s, text-align  0.5s, border-bottom 0.5s;
}

.imgInButton{
    height: 90%;
    width : 90%;
}

.imgAddToShoppingCart{
    text-align: left;
    height: 90%;
    width : 60%;
}

.productDescription{
    font-weight: bold;
    width: 90%;
    height: 30%;
    margin-right: 5%;
    margin-left: 5%;
}

footer{
    float: top;
    height: 5%;
    width: 100%;
    display: block;
    left: 0;
    bottom: 0;
}

#forLocale{
    display: inline-block;
    width: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 45%;
    margin-right: 45%;
    height: 30px;
}

.forLocaleBtn{
    text-align: center;
    display: inline-block;
    width: 30%;
    height: 100%;
}

#localeBtnEN, #localeBtnRU, #localeBtnUK{
    text-align: center;
    background-color: #ffffff;
    border:0;
    width: 100%;
    height: 100%;
}

#localeBtnEN:hover, #localeBtnRU:hover, #localeBtnUK:hover{
    background-color: #131313;
    color: #ffffff;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
}