body {
    background-color: #ffffff;
    display: block;
}

header{
    border-bottom: 1px #e69500 solid;
    background-color: #ffffff  ;
    color: #ffffff;
    width: 100%;
    height: 60px;
}

.navbarMenu{
    height: 100%;
    width: 100%;
    display: inline-block;
}

.leftPartNavbar{
    background-color: #131313  ;
    float: left;
    height: 100%;
    width: 50%;
}

.brandNameField{
    padding-left: 10px;
    height: 100%;
    width: 40%;
    float: left;
}


#electronLabel{
    color: #ffffff;
    font-family: sans-serif;
    padding: 3px;
    font-size: xx-large;
    border:3px #131313 solid;
}

#electronLabel:hover{
    border-bottom: 3px #e69500 solid;
    border-top: 3px #e69500 solid;
    border-left: 3px #e69500 solid;
    border-right:  #e69500 solid;
    transition: border-bottom 0.4s, border-left 0.8s, border-top 1.5s, border-right 0.8s, cubic-bezier(.58,.3,.36,1.54) 1s;
}

.LookingForMenu{
    float: left;
    padding-top: 15px;
    height: 100%;
    width: 60%;
    float: right;
}

.searchField{
    border: 1px #036f02 solid;
}

.searchField:hover{
    border: 1px #ffffff solid;
    transition: border 0.3s;
}

.searchButton{
    border: 1px #036f02 solid;
    background-color: #131313;
    color: #036f02;
}

.searchButton:hover{
    border: 1px #ffffff solid;
    background-color: #036f02;
    color: #ffffff;
    font-weight: bold;
    transition: font-weight 0.2s;
}

.centerLeftPartTriangle{
    float: left;
    width: 0;
    height: 0;
    border-top: 60px solid #131313  ;
    border-right: 60px solid #e69500;
}

.centerPartNavbar{
    float: left;
    background-color: #e69500 ;
    height: 100%;
    width: 10%;

}

.centerRightPartTriangle{
    float: left;
    width: 0;
    height: 0;
    border-top: 60px solid #e69500;
    border-right: 60px solid transparent;
}

.rightPartNavbar{
    float: left;
    background-color: #ffffff  ;
    width: 25%;
    height: 100%;
    color: black;

}

#userLogin{
    text-align: right;
    width: 50%;
    height: 100%;
    float: right;
    width: 50%;
}

.userLoginBtn{
    border: 0;
    background-color: #ffffff;
    text-align: right;
    height: 92%;
    width: 50%;
    justify-content: center;
}

.userLoginImg{
    margin-top: 5px;
    height: 90%;
    width: 55%;
}

.userLoginImg:hover{
    height: 95%;
    width: 60%;
    transform: rotateY(5deg);
}
#content{
    text-align: center;
    margin-top: 3%;
    display: block;
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
}

 #href-to-orders-info{
     margin: 3%;
     font-size: x-large;
 }

.with-setting{
    width: 100%;
    border: 1px #131313 solid;
}

 .dropdown-with-settings{
     display: flex;
     flex-direction: column;
     width: 94%;
     margin: 2% 3% 1% 3%;
     border-bottom: 2px #131313 solid;
     border-right: 2px #ffffff solid;
     border-top: 2px #ffffff solid;
     border-left: 2px #ffffff solid;
 }

.dropdown-with-settings:hover{
    border: 2px #e69500 solid;
    transition: border 0.5s;
}

 .form-for-change-data{
     display: flex;
     flex-direction: column;
 }

 .href-with-info-for-changing{
     font-weight: bolder;
 }

 .inputField{
     text-align: center;
     width: 70%;
     margin: 1% 15% 0 15%;
 }

 .submit-in-interface{
     width: 40%;
     margin: 1% 30% 0 30%;
     border: 2px #131313 solid;
     background-color: white;
     color: #131313;
     font-weight: bolder;
 }

.submit-in-interface:hover{
    border: 2px #036f02 solid;
    background-color: #036f02;
    color: #ffffff;
}

#logout-div{
    margin-top: 2%;
}

.logoutBtn{
    font-weight: bolder;
    border: 2px #131313 solid;
    background-color: #ffffff;
    color: #131313;
}

.logoutBtn:hover{
    border: 2px #e69500 solid;
    background-color: #e69500;
}

footer{
    display: inline;
    left: 0;
    bottom: 0;
}

#forLocale{
    display: inline-block;
    width: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 45%;
    margin-right: 45%;
    height: 30px;
}

.forLocaleBtn{
    text-align: center;
    display: inline-block;
    width: 30%;
    height: 100%;
}

#localeBtnEN, #localeBtnRU, #localeBtnUK{
    text-align: center;
    background-color: #ffffff;
    border:0;
    width: 100%;
    height: 100%;
}

#localeBtnEN:hover, #localeBtnRU:hover, #localeBtnUK:hover{
    background-color: #131313;
    color: #ffffff;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
}
